
h1{
    color:blue;
   text-align: center;
}
h4{
    color:darkorange;

}
p{
    font-size: 18px;
}
#box{
    padding:10px;
    border:2px solid gray;
    margin-top: 40px;
}
.skyBlue{
    color:deepskyblue;
}
.boxShadow{
    box-shadow:1px 1px 6px 2px #333;
}
.boxShadow:hover{
    box-shadow:1px 1px 6px 2px #333 inset;
}
.clear{
    clear:both;
}

.roundBox{
    border-radius: 50%;
}
.tile{
    width:300px;
    height:300px;
    border:1px solid black;
    margin:20px 0 20px 20px;

}
.bgimage{
    background-image: url("../image/img3.jpg");
}
.bgimage:hover{
    background-image: url("../image/image1.jpg");
    background-size: cover;

}
