.box{
 width:400px;
 height:200px;
 background-color:#ccc;
 overflow: auto;
}
body{
background-image: url(../image/img3.jpg);
    background-repeat: no-repeat;
    background-position: center;
background-size: 980px 400px;
}